$mod = {{ nyx_hypr_modkey }}

bind = $mod, Return, exec, {{ nyx_hypr_terminal }}
bind = $mod, Q, killactive
bind = $mod, E, exec, {{ nyx_hypr_filemanager }}
bind = $mod, Space, exec, fuzzel
bind = $mod, V, togglefloating
bind = $mod, P, pseudo
bind = $mod, S, togglesplit
bind = $mod, F, fullscreen
bind = $mod SHIFT, E, exec, wlogout
bind = $mod SHIFT, L, exec, hyprlock
bind = $mod SHIFT, V, exec, cliphist list | fuzzel --dmenu | cliphist decode | wl-copy

# focus
bind = $mod, left,  movefocus, l
bind = $mod, right, movefocus, r
bind = $mod, up,    movefocus, u
bind = $mod, down,  movefocus, d
bind = $mod, H, movefocus, l
bind = $mod, L, movefocus, r
bind = $mod, K, movefocus, u
bind = $mod, J, movefocus, d

# move
bind = $mod SHIFT, left,  movewindow, l
bind = $mod SHIFT, right, movewindow, r
bind = $mod SHIFT, up,    movewindow, u
bind = $mod SHIFT, down,  movewindow, d

# workspaces
{% for i in range(1, 10) %}
bind = $mod, {{ i }}, workspace, {{ i }}
bind = $mod SHIFT, {{ i }}, movetoworkspace, {{ i }}
{% endfor %}
bind = $mod, 0, workspace, 10
bind = $mod SHIFT, 0, movetoworkspace, 10

# mouse
bindm = $mod, mouse:272, movewindow
bindm = $mod, mouse:273, resizewindow

# screenshots
bind = , Print, exec, grim -g "$(slurp)" - | wl-copy
bind = SHIFT, Print, exec, grim - | wl-copy

# media (l = works while locked)
bindl = , XF86AudioPlay, exec, playerctl play-pause
bindl = , XF86AudioNext, exec, playerctl next
bindl = , XF86AudioPrev, exec, playerctl previous
bindel = , XF86AudioRaiseVolume, exec, pamixer -i 5
bindel = , XF86AudioLowerVolume, exec, pamixer -d 5
bindl = , XF86AudioMute, exec, pamixer -t
